@font-face {
  font-family: "Cica";
  font-display: swap;

  font-style: normal;
  font-weight: normal;
  src: local("Cica"), url("/Cica-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Cica";
  font-display: swap;

  font-style: normal;
  font-weight: bold;
  src: local("Cica"), url("/Cica-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Cica";
  font-display: swap;

  font-style: italic;
  font-weight: normal;
  src: local("Cica"), url("/Cica-RegularItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Cica";
  font-display: swap;

  font-style: italic;
  font-weight: bold;
  src: local("Cica"), url("/Cica-BoldItalic.ttf") format("truetype");
}
