.footer {
  height: calc(100vh / 8);

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), 90%, var(--bg-soft));

  font-size: 1.25rem;
  color: var(--white-hard);

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > * {
  margin-left: 0.25rem;
}

.my_name_highlight {
  color: var(--main-col-1);
}
